<!--顶部-->
    <div class="header_list">
        <div class="back"></div>
        <h2>海汇通公告</h2>
    </div>

<!-- 公告详情-->
    <div class="ac_list_title">
        <div class="ac_list_fenlei">
            <a href="javascript:;" class="list_fenlei_active">当月公告</a>
            <a href="javascript:;" >往期公告</a>
        </div>
        <div class="ac_list_total">
            <div class="ac_list_name" id="ac_list_now">
            </div>
            <div class="ac_list_name" style="display: none" id="ac_list_ago">

            </div>
        </div>
    </div>






