<!-- 顶部-->
<div class="header_list">
    <a class="back"></a>
    <div class="tabs">
        <a href="javascript:;" class="active" ><span>商品</span></a>
        <a href="javascript:;" ><span>详情</span></a>
        <a href="javascript:;" ><span>评价</span></a>
    </div>
    <!--<a  class="share"></a>-->
</div>

<!--购物车弹出层-->
<div style="display: none" class="gouwu">

    <div class="gouwu_goods">
        <!-- 商品详情-->
        <div class="goods_introduction">
        </div>

        <div class="gouwu_goods_dell">

            <!-- 规格分类-->
            <div class="goods_detail">

            </div>

            <!--商品规格价格展示-->
            <div class="goods_jiage">

            </div>

            <!-- 增加商品个数-->
            <div class="goods_number">
                <span class="goods_number_left">购买数量</span>
                <div class="goods_number_btn">
                    <div class="number_btn">
                        <span class="number_btn_jian">-</span><input type="text" class="number_btn_shumu" value=""><span class="number_btn_jia">+</span>
                    </div>
                    <span class="number_btn_cukun">库存：<em></em></span>
                </div>
            </div>

        </div>
        <!-- 购买栏目-->
        <div class="npost_gouwu">
            <a href="javascript:;" class="npost_gouwu_put" id="nadd_cart">加入进货单</a>
            <a href="javascript:;" class="npost_gouwu_buy npost_foot_go" >立即购买</a>
        </div>
    </div>

</div>
<div class="goods">
<!-- 商品页面-->
<div  class="nwrapper_silder" id="goodsDetail">

    <!-- 商品轮播图-->
    <div class="swiper-container">
        <div class="swiper-wrapper">
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination" style="position: relative; top: -1rem"></div>
    </div>

    <!-- 商品detail-->
    <div class="npost_titlel">
    </div>

    <div class="npost_price">
    </div>

    <div class="nhr"></div>

    <!-- 商品规格-->
    <div class="npost_fications">
        <span class="fications_chose">选择<em>商品规格</em></span>
        <span class="fications_title"><em class="facations_guige"></em><em><i class="facations_shuliang"></i>件</em></span>
    </div>

    <div class="nhr"></div>

    <div class="npost_switch">点击进入图文详情</div>
</div>

<!-- 详情页面-->
<div class="nwrapper_silder"  id="goodsInfor" style=" display: none">

</div>

<!-- 评价页面-->
<div style="display: none" class="nwrapper_silder"  id="goodsPinglun">
     <div class="ncomment_top">

     </div>
     <!-- 评论列表-->
     <div class="ncomment_list">
     </div>
</div>

</div>
<!--客服、收藏、购物车底部-->
<div class="npost_foot">
    <div class="npost_foot_main">
        <div class="npost_foot_left">
            <!-- 客服-->
            <a class="npost_foot_kefu">
                <em class="btm-act-icn"></em>
                <span class="focus-info">客服</span>
            </a>

            <!-- 收藏-->
            <a class="npost_foot_shouchang">
                <em class="btm-act-icn"></em>
                <span class="focus-info">收藏</span>
            </a>
        </div>
        <div class="npost_foot_go">马上结算</div>
        <div class="npost_foot_add"  id="nadd_cart">加入进货单</div>
    </div>
</div>
